<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
                <div class="navbar-header" href="#">
                        <a class="navbar-brand" href="#">Quotes</a>
                </div>
                <ul class="nav navbar-nav">
                        <li>{{#link-to 'quote'}}Posts{{/link-to}}</li>
                        <li>{{#link-to 'quote.new'}}Add New Post{{/link-to}}</li>
                </ul>
        </div>
</nav>


{{outlet}}
