<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {{#each quote in model}}
            {{#link-to 'quote.edit' quote.id}}Quote: {{quote.quote}}{{/link-to}}<br/>
            Author: {{quote.author}}<br/><br/>
            {{/each}}

        </div>
            {{outlet}}
    </div>
</div>
